---
layout: default
---

<div class="home">

  <h1 class="page-heading">All Posts</h1>

  <ul class="post-list">

    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">
          <span class="post-category"><a href="/categories/#{{ post.categories }}-ref">{{ post.categories }}</a></span>
        
          {% for tag in post.tags %}
            <span class="post-tag"><a href="/tags/#{{ tag }}-ref">{{ tag }}</a></span>
          {% endfor %}
        </span>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  
</div>